body {
    background-color: #f8f9fa;
    font-family: $font-family;
}

.btn.btn-reddit-primary{
    padding: 10px 40px;
    font-weight: 600;
    color: #fff;
    background: #FF4500;
}

.navbar {
    border-bottom: 4px solid $reddit-secondary;
    background: #fff;
}